.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 80px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 150px;
    max-width: 1440px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
    flex-direction: row;
    align-items: start;
    margin-left: 84px;
  }
}

.about-subtitle {
  background: #b2e0d5;
  border-radius: 20px;
  padding: 4px 6px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  text-transform: uppercase;
  text-align: center;
  color: #1e1e1e;
  max-width: max-content;

  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #1e1e1e;

  @include media(desktop) {
    max-width: 738px;
  }
}
