.privacy-body {
  .header {
    background: #c0adc0;
  }

  .header-bg-wrapper {
    background-image: none;
  }
}

.policy-section {
  background: linear-gradient(
    180deg,
    #c0adc0 7.21%,
    #ebd5b0 60.1%,
    #e0aba5 100%
  );
  padding-top: 126px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 137px;
    padding-bottom: 100px;
  }
}

.policy-main-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: #2194c3;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 36px;
    margin-bottom: 40px;
  }
}

.policy-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #1e1e1e;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1e1e1e;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #1e1e1e;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
  }
}

.policy-span {
  font-weight: 700;
}

.policy-link {
  font-weight: 700;
}
