<section class="section advantages-section" id="advantages">
  <div class="container advantages-container">
    <h2 class="section-title rooms-title">Key Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-list-item">
        <p class="advantages-item-text">
          We didn't want to overcomplicate things - sometimes simple is better.
        </p>
      </li>
      <li class="advantages-list-item">
        <img
          class="advantages-img"
          src="./img/advantages/advantages-img1.png"
          alt="Screenshot of the game"
          width="34"
          height="34"
          loading="lazy"
        />
        <p class="advantages-item-text">
          Daily puzzles to keep the routine fresh
        </p>
      </li>
      <li class="advantages-list-item">
        <img
          class="advantages-img"
          src="./img/advantages/advantages-img2.png"
          alt="Screenshot of the game"
          width="34"
          height="34"
          loading="lazy"
        />
        <p class="advantages-item-text">
          Clean interface adapted for small screens
        </p>
      </li>
      <li class="advantages-list-item">
        <img
          class="advantages-img"
          src="./img/advantages/advantages-img3.png"
          alt="Screenshot of the game"
          width="34"
          height="34"
          loading="lazy"
        />
        <p class="advantages-item-text">
          It’s a perfect mental exercise and fun
        </p>
      </li>
      <li class="advantages-list-item">
        <img
          class="advantages-img"
          src="./img/advantages/advantages-img4.png"
          alt="Screenshot of the game"
          width="34"
          height="34"
          loading="lazy"
        />
        <p class="advantages-item-text">Relaxing gameplay without pressure</p>
      </li>
      <li class="advantages-list-item">
        <img
          class="advantages-img"
          src="./img/advantages/advantages-img5.png"
          alt="Screenshot of the game"
          width="34"
          height="34"
          loading="lazy"
        />
        <p class="advantages-item-text">
          Suitable for all ages and interesting
        </p>
      </li>
    </ul>
  </div>
</section>
