<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
          <span class="faq-btn-text">What devices support the game? </span>
        </button>
        <p class="faq-bottom-text">
          We made this game just for Wear OS smartwatches.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
          <span class="faq-btn-text">Do puzzles update daily? </span>
        </button>
        <p class="faq-bottom-text">
          Yes, a new word search puzzle is available every day.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
          <span class="faq-btn-text">Is the game suitable for kids? </span>
        </button>
        <p class="faq-bottom-text">
          Yes, it’s family-friendly and easy to understand.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
          <span class="faq-btn-text"
            >Does the game require internet access?
          </span>
        </button>
        <p class="faq-bottom-text">
          You'll need to be online to download each day's puzzle, but after that
          you can play offline no problem.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="42" height="42">
              <use href="./img/sprite.svg#icon-arrow"></use></svg
          ></span>
          <span class="faq-btn-text">Is the game fast to play?</span>
        </button>
        <p class="faq-bottom-text">
          Yes, puzzles are designed for short sessions.
        </p>
      </li>
    </ul>
  </div>
</section>
