<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <h1 class="hero-main-title">Word Search Daily - Watch Game</h1>
        <p class="hero-text">Relax your mind with a new puzzle every day</p>
        <img
          class="hero-img"
          src="./img/hero/hero-img-mob.png"
          alt="Screenshot of the game"
          width="253"
          height="318"
        />
        <a
          class="hero-btn"
          target="_blank"
          href="https://play.google.com/store/apps/details?id=com.renderedideas.wordsearchdaily.wearos&hl=en&gl=us"
          rel="noopener noreferrer"
          aria-label="Download on Google Play"
        >
          <img
            class="hero-play-img"
            src="./img/hero/hero-play-img.png"
            alt="Title"
            width="243"
            height="70"
          />
        </a>
      </div>
    </div>
  </div>
</section>
